.event-container {
    height: 80%;
    width: calc(100% - 10em);
    margin: 0 5em 0 5em;
    border-top: 2px solid var(--shadowcolor);
    border-bottom: 2px solid var(--shadowcolor);
    display: inline-block;
    text-align: center;
}

.event-article {
    display: inline-block;
    height: 11em;
    width: 12em;
    margin: 0.5em;
    border: 2px solid var(--maincolor);
    border-radius: 10%;
    text-align: center;
}

.event-image {
    height: 60%;
    width: 98%;
    border-radius: 10% 10% 0 0;
    margin-top: 1%;
}

.event-article-content {
    height: 55%;
    text-align: center;
    margin: 0;
    padding: o;
}

.event-article-content * {
    margin: 0;
    padding: o;
}

.event-article-content h4 {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.event-date {
    font-size: 0.6em;
}

.event-price {
    font-size: 0.4em;
    font-style: italic;
}

.event-buton-rezervare {
    font-size: 0.8em;
    color: var(--button-text);
    border-color: 2px solid var(--maincolor);
    border-radius: 20%;
    box-shadow: 1px 1px var(--shadowcolor);
    margin: auto;
    padding: 0 1em;
}

.event-buton-rezervare:hover {
    box-shadow: 2px 2px var(--shadowcolor);
    font-size: 0.9em;
}

.event-buton-rezervare:active {
    box-shadow: 1px 1px inset var(--shadowcolor);
}

.anunt {
    color: var(--button-text) !important;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 1em;
    text-shadow: 0 0 5px #fff, 0 0 10px var(--maincolor), 0 0 15px var(--maincolor);
}

a {
    color: var(--shadowcolor);
}

.login-form {
    width: 100%;
    text-align: center;
    margin: auto;
}

table, tbody, tr {
    width: 100%;
    margin: auto;
}

tr td:first-child {
    text-align: right;
    padding-right: 3em;
}

tr td:last-child {
    text-align: left;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.users-management {
    border: 1px solid black;
    width: fit-content;
    text-align: center;
    padding: 0 2px;
    margin-bottom: 10px;
}

.users-management td {
    width: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.users-management td input {
    width: fit-content;
}

.seat_nb {
    width: 2.4rem;
    border: none;
    background-color: rgba(0,0,0,0);
    color: var(--shadowcolor);
    padding: 0;
    margin: 0 4px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    outline: none;
}

.coloana-pret {
    max-width: 80px; /* Adjust to your preference */
    white-space: nowrap;
    overflow: hidden;
}

input {
    outline: none;
}

.left {
    width: 100%;
    text-align: left !important;
}

.atribut {
    min-width: 200px;
    text-align: left !important;
    margin: 2px;
}

.atribut2 {
    min-width: 200px;
    text-align: right !important;
    margin: 2px;
}

.last_ips_container {
    max-height: 100px; 
    overflow-y: auto;
}

.last_ips_ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.piechart {
    display: block;
    margin: auto;
    width: 100%;
}

.contact {
    position: fixed;
    right: 100px;
    bottom: 50px;
    color: black;
    border: 2px solid var(--shadowcolor);
    box-shadow: 2px 2px lightgray;
    padding: 5px;
    border-radius: 15%;
}

.contact:active {
    border: 2px  solid var(--shadowcolor) inset;
}

.contact:hover {
    font-weight: bolder;
}

.contactFormContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.contactFormContainer * {
    display: block;
    margin: 30px auto;
    width: 300px;
}

.contactFormContainer textarea {
    resize: none;
    height: 200px;
}